__pycache__/
*.pyc
*.pyo
*.pyd
.Python
venv/
env/
.venv/
*.log
local_settings.py
db.sqlite3
.junie/
staticfiles/
.envs/.env.local
.envs/.env.prod
.envs/.env.prod.example
secrets.json
config/settings/local.py
requirements/local.txt
.idea/
/docs/api.yaml
/docs/database.md
.vscode/
*.egg-info/
/credentials
Makefile
.todo
odk-forms.md
.jbeval/
