__pycache__/
*.pyc
*.pyo
*.pyd
.Python
venv/
env/
.venv/
*.log
local_settings.py
db.sqlite3
.junie/
staticfiles/
.envs/.env.local
.envs/.env.prod
.envs/.env.prod.example
secrets.json
.idea/
.vscode/
*.egg-info/
/credentials
Makefile
.todo
.jbeval/
.ruff_cache/
media/avatars/*
!media/avatars/default-avatar.png
.github/env-mapping.md
